.btn {
  width: 180px;
  height: 40px;
  background-color: teal;
  color: maroon;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  transition: all .2s ease;
  cursor: pointer;
}

.btn:hover {
  background-color: khaki;
}