
* {
  -webkit-overflow-scrolling: touch;
}

body {
  font-family: 'Arial', 'Microsoft YaHei', '黑体', '宋体', sans-serif;
}

video {
  object-fit: fill;
}

.root {
  position: relative;
  left: 0;
  margin: 0;

  .adsContent {
    position: relative;
    z-index: 99999;
    display: none;
    float: left;
    margin: 0 auto;

    .closeButton {
      font-family: Arial, Helvetica, sans-serif;
      position: absolute;
      top: 0;
      right: 0;
      text-align: center;
      vertical-align: middle;
      color: #ffffff;
      border: 0 none;
      background-color: rgb(4, 150, 136);
      text-shadow: .05em .05em .1em #000000;
    }

    .closeButton:hover {
      cursor: pointer;
      color: rgb(4, 150, 136);
      background-color: #ffffff;
    }
  }

  .videoComponent {
    position: relative;

    .waiting,
    .error,
    .notSupported,
    .noResource {
      font-size: 1em;
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: none;
      overflow: hidden;
      margin: auto;
      text-align: center;
      color: rgb(241, 241, 241);
      background-color: rgb(0, 0, 0);
    }

    .circle {

      /* Draw circles */
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }

    .animated {

      /* Smoother animations */
      -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
      transform: translateZ(0);
    }

    /* player */
    .player {
      position: relative;
      top: 0;
      left: 0;
      width: 50%;
      height: 50%;
      margin: 0 auto;
      background: transparent;

      .triangle {
        position: absolute;
        top: 55%;
        left: 50%;
        width: 0;
        height: 0;
        margin: -1.5vw 0 0 -1vw;
        cursor: pointer;
        border-top: 2vw solid transparent;
        border-bottom: 2vw solid transparent;
        border-left: 3vw solid #049688;
      }
    }

    .player:hover .triangle {
      border-top: 2vw solid transparent;
      border-bottom: 2vw solid transparent;
      border-left: 3vw solid #006e88;
    }

    .player .buffering {
      position: absolute;
      top: 34%;
      margin: 0 auto;
      -webkit-animation: rotate 3s infinite linear;
      -moz-animation: rotate 3s infinite linear;
      -o-animation: rotate 3s infinite linear;
      animation: rotate 3s infinite linear;
      border-top: 2px solid #006e88;
      border-right: 2px solid #049688;
      border-bottom: 2px solid #006e88;
      border-left: 2px solid #049688;
    }

    /* text */
    .text {
      font-family: 'Helvetica Neue', Helvetica, sans-serif;
      font-size: 14px;
      position: absolute;
      top: 70%;
      width: 100%;
      -webkit-animation: pulse 1.3s infinite;
      -moz-animation: pulse 1.3s infinite;
      -o-animation: pulse 1.3s infinite;
      animation: pulse 1.3s infinite;
      text-align: center;
      text-transform: uppercase;
      color: #c1b8b8;
    }
  }

  .addons {
    position: relative;
    padding: 1rem 2rem;
    text-align: center;

    .replayList {
      overflow: hidden;
      height: 300px;

      .slideList {
        overflow-y: scroll;
        width: 100%;
        height: 100%;

        ::-webkit-scrollbar {
          display: none;
        }

        > li {
          float: left;
          width: 100%;
          height: 4em;
          list-style: none;
          cursor: pointer;

          > img {
            width: 4em;
            height: 3em;
            margin-right: 1em;
            vertical-align: middle;
          }
        }
      }
    }
  }

  .status {
    margin: 1rem 2rem;
    text-align: center;

    & p {
      padding: 1rem;
    }
  }

  .comments {
    overflow: hidden;
    height: 300px;

    > div {
      overflow-y: scroll;
      width: 100%;
      height: 100%;
      margin-right: auto;
      margin-left: auto;
      text-align: left;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

.panels {
  position: relative;
  right: 0;
  left: 0;
  margin-bottom: 4px;
  padding: $videos-padding;

  img {
    width: 100%;
  }

  > span,
  p {
    font-size: $font-size-small;
    display: block;
    overflow: auto;
    margin-top: $videos-margin;
    word-wrap: break-word;
    color: $color-text-secondary;

    b {
      font-weight: $font-weight-bold;
      display: inline-block;
    }
  }

  .about {
    font-size: 14px;
    line-height: 35.2000007629395px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
    word-wrap: break-word;
    color: rgb(12, 43, 31);
  }

  .aboutMessage {
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 2rem;
  }

  .wechat {
    display: block;
    width: 144px;
    margin: 0 auto;
  }

  a,
  a:visited {
    color: #0645ad;
  }
}

.contentWrapper {
  position: relative;
  border: 1px solid rgb(151, 122, 45);
}

@media (min-width: 960px) {
  .root {
    width: 960px;
    margin: 0 auto;
  }

  .about,
  .aboutMessage {
    width: 480px;
    margin: 0 auto;
  }
}

/* rotation */

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


/* pulse */

@-webkit-keyframes pulse {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes pulse {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes pulse {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
